.comment-edit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    padding: 3rem 3rem;
    gap: 0.5rem;
}

.comment-edit-textarea {
  width: 100%;
  background-color: #c0c0c0;
  border: 1px solid #a0a0a0;
  padding: 16px;
  font-size: 16px;
  resize: none;
  outline: none;
  font-family: inherit;
  box-sizing: border-box;
}

.input-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 8px;
  gap: 8px;
}

.cancel-btn, .submit-btn {
  border: none;
  background: none;
  padding: 8px 16px;
  border-radius: 18px;
  font-weight: 500;
  cursor: pointer;
  font-size: 14px;
}

.cancel-btn:hover {
  background-color: #b8b8b8;
}

.submit-btn {
  background-color: #000000;
  color: white;
}

.submit-btn.disabled {
  background-color: #f2f2f2;
  color: #909090;
  cursor: default;
}
