.nickname {
    font-size: 0.9rem;
}

.profile-main {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 3rem 3rem;
    gap: 3rem;
}

.profile-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.profile-title {
    font-weight: 600;
    font-size: 1.1rem;
    margin-left: 1.5rem;
}

.profile-card {
    display: flex;
    gap: 3rem;
}

.profile-image {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-color: #c9c9c9;
}

.profile-nickname {
  font-weight: 700;
  font-size: 1.3rem;
}

.profile-username {
  font-size: 1.1rem;
}

.edit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 0.9rem;
    background-color: #d9d9d9;
    border-radius: 6px;
    width: 110px;
    height: 30px;
}

.comments-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.comment-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 0.5rem;
}

.comment-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f1f1f1;
    border-radius: 8px;
    padding: 1rem;
    min-height: 100px;
}

.comment-course {
    font-weight: 600;
    color: black;
}

.comment-content {
    color: black;
}

.comment-actions {
    display: flex;
    justify-content: right;
    gap: 0.5rem;

}

.icon-btn {
    cursor: pointer;
}

.menu-icon {
  width: 20px;
  height: 20px;
  fill: #606060;
}